In [1]:
import psycopg2
import pandas as pd

In [2]:
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="woneli",
                                  password="woneli",
                                  host="188.165.216.169",
                                  port="5432",
                                  database="postgres01")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT idsensore, dataora, valore FROM weather_data_2021;")
    risulato = cursor.fetchall()
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

PostgreSQL server information
{'user': 'woneli', 'channel_binding': 'prefer', 'dbname': 'postgres01', 'host': '188.165.216.169', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  None

In [3]:
type(risulato)

list

In [4]:
risulato[0]

(5857, datetime.datetime(2021, 1, 1, 0, 0), 0.0)

In [5]:
len(risulato)

59929021

In [6]:
df_2021 = pd.DataFrame(risulato)

In [7]:
df_2021.columns = ['IdSensore','Data','Valore']
df_2021.head()

   IdSensore       Data  Valore
0       5857 2021-01-01     0.0
1       5864 2021-01-01     2.0
2       6158 2021-01-01    84.8
3       6431 2021-01-01     0.0
4      10585 2021-01-01     0.0

In [8]:
df_2021.shape

(59929021, 3)

In [9]:
df_2021.to_pickle('df_meteo_2021.h5')

In [2]:
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="woneli",
                                  password="woneli",
                                  host="188.165.216.169",
                                  port="5432",
                                  database="postgres01")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT idsensore, dataora, valore FROM weather_data_2020;")
    risulato = cursor.fetchall()
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

PostgreSQL server information
{'user': 'woneli', 'channel_binding': 'prefer', 'dbname': 'postgres01', 'host': '188.165.216.169', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  None

In [3]:
len(risulato)

61503271

In [4]:
df_2020 = pd.DataFrame(risulato)

In [5]:
df_2020.columns = ['IdSensore','Data','Valore']
df_2020.head()

   IdSensore       Data  Valore
0          9 2020-01-01     0.0
1         46 2020-01-01     0.0
2        115 2020-01-01     2.9
3        116 2020-01-01     0.0
4        117 2020-01-01   214.0

In [6]:
df_2020.to_pickle('df_meteo_2020.h5')

In [2]:
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="woneli",
                                  password="woneli",
                                  host="188.165.216.169",
                                  port="5432",
                                  database="postgres01")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT idsensore, dataora, valore FROM weather_data_2019;")
    risulato = cursor.fetchall()
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

PostgreSQL server information
{'user': 'woneli', 'channel_binding': 'prefer', 'dbname': 'postgres01', 'host': '188.165.216.169', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  None

In [3]:
len(risulato)

60126509

In [4]:
df_2019 = pd.DataFrame(risulato)

In [5]:
df_2019.columns = ['IdSensore','Data','Valore']
df_2019.head()

   IdSensore                Data  Valore
0       8021 2019-03-13 04:00:00     0.0
1       8023 2019-03-13 04:00:00    -5.8
2       8024 2019-03-13 04:00:00    49.0
3       8025 2019-03-13 04:00:00     0.0
4       8027 2019-03-13 04:00:00    -5.7

In [ ]:
df_2019.to_pickle('df_meteo_2019.h5')

In [2]:
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="woneli",
                                  password="woneli",
                                  host="188.165.216.169",
                                  port="5432",
                                  database="postgres01")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT idsensore, dataora, valore FROM weather_data_2018;")
    risulato = cursor.fetchall()
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

PostgreSQL server information
{'user': 'woneli', 'channel_binding': 'prefer', 'dbname': 'postgres01', 'host': '188.165.216.169', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  None

In [3]:
len(risulato)

59920830

In [ ]:
df_2018 = pd.DataFrame(risulato)

In [ ]:
df_2018.columns = ['IdSensore','Data','Valore']
df_2018.head()

In [ ]:
df_2018.to_pickle('df_meteo_2018.h5')

In [2]:
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="woneli",
                                  password="woneli",
                                  host="188.165.216.169",
                                  port="5432",
                                  database="postgres01")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT idsensore, dataora, valore FROM weather_data_2017;")
    risulato = cursor.fetchall()
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

PostgreSQL server information
{'user': 'woneli', 'channel_binding': 'prefer', 'dbname': 'postgres01', 'host': '188.165.216.169', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  None

In [3]:
len(risulato)

56682538

In [4]:
df_2017 = pd.DataFrame(risulato)

In [5]:
df_2017.columns = ['IdSensore','Data','Valore']
df_2017.head()

   IdSensore       Data  Valore
0      10376 2017-01-01     0.0
1      10377 2017-01-01     1.4
2      10381 2017-01-01    81.6
3      10382 2017-01-01     3.2
4      10443 2017-01-01     0.0

In [6]:
df_2017.to_pickle('df_meteo_2017.h5')

In [2]:
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="woneli",
                                  password="woneli",
                                  host="188.165.216.169",
                                  port="5432",
                                  database="postgres01")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT idsensore, dataora, valore FROM weather_data_2016;")
    risulato = cursor.fetchall()
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

PostgreSQL server information
{'user': 'woneli', 'channel_binding': 'prefer', 'dbname': 'postgres01', 'host': '188.165.216.169', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  None

In [3]:
len(risulato)

55107307

In [4]:
df_2016 = pd.DataFrame(risulato)

In [5]:
df_2016.columns = ['IdSensore','Data','Valore']
df_2016.head()

   IdSensore       Data  Valore
0      10373 2016-01-01     0.0
1      10376 2016-01-01     0.0
2      10377 2016-01-01     2.3
3      10381 2016-01-01    94.8
4      10382 2016-01-01     1.6

In [6]:
df_2016.to_pickle('df_meteo_2016.h5')

In [2]:
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="woneli",
                                  password="woneli",
                                  host="188.165.216.169",
                                  port="5432",
                                  database="postgres01")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT idsensore, dataora, valore FROM weather_data_2015;")
    risulato = cursor.fetchall()
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

PostgreSQL server information
{'user': 'woneli', 'channel_binding': 'prefer', 'dbname': 'postgres01', 'host': '188.165.216.169', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  None

In [3]:
len(risulato)

57877143

In [4]:
df_2015 = pd.DataFrame(risulato)

In [5]:
df_2015.columns = ['IdSensore','Data','Valore']
df_2015.head()

   IdSensore                Data  Valore
0      30523 2015-12-31 23:55:00    15.0
1      10373 2015-12-31 23:50:00     0.0
2      10376 2015-12-31 23:50:00     0.0
3      10377 2015-12-31 23:50:00     2.3
4      10381 2015-12-31 23:50:00    94.9

In [6]:
df_2015.to_pickle('df_meteo_20
                  15.h5')

In [2]:
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="woneli",
                                  password="woneli",
                                  host="188.165.216.169",
                                  port="5432",
                                  database="postgres01")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT idsensore, dataora, valore FROM weather_data_2014;")
    risulato = cursor.fetchall()
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

PostgreSQL server information
{'user': 'woneli', 'channel_binding': 'prefer', 'dbname': 'postgres01', 'host': '188.165.216.169', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  None

In [3]:
len(risulato)

49195352

In [4]:
df_2014 = pd.DataFrame(risulato)

In [5]:
df_2014.columns = ['IdSensore','Data','Valore']
df_2014.head()

   IdSensore                Data  Valore
0      30523 2014-12-31 23:55:00    21.0
1      10373 2014-12-31 23:50:00     0.0
2      10376 2014-12-31 23:50:00     0.0
3      10377 2014-12-31 23:50:00    -1.6
4      10381 2014-12-31 23:50:00    93.2

In [6]:
df_2014.to_pickle('df_meteo_2014.h5')

In [2]:
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="woneli",
                                  password="woneli",
                                  host="188.165.216.169",
                                  port="5432",
                                  database="postgres01")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT idsensore, dataora, valore FROM weather_data_2013;")
    risulato = cursor.fetchall()
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

PostgreSQL server information
{'user': 'woneli', 'channel_binding': 'prefer', 'dbname': 'postgres01', 'host': '188.165.216.169', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  None

In [3]:
len(risulato)

42497020

In [4]:
df_2013 = pd.DataFrame(risulato)

In [5]:
df_2013.columns = ['IdSensore','Data','Valore']
df_2013.head()

   IdSensore                Data  Valore
0      10570 2013-12-31 23:50:00    -4.7
1      10571 2013-12-31 23:50:00    76.0
2      10574 2013-12-31 23:50:00     0.0
3      10575 2013-12-31 23:50:00     0.0
4      11007 2013-12-31 23:50:00    -3.3

In [6]:
df_2013.to_pickle('df_meteo_2013.h5')

In [2]:
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="woneli",
                                  password="woneli",
                                  host="188.165.216.169",
                                  port="5432",
                                  database="postgres01")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT idsensore, dataora, valore FROM weather_data_2012;")
    risulato = cursor.fetchall()
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

PostgreSQL server information
{'user': 'woneli', 'channel_binding': 'prefer', 'dbname': 'postgres01', 'host': '188.165.216.169', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  None

In [3]:
len(risulato)

58229793

In [4]:
df_2012 = pd.DataFrame(risulato)

In [5]:
df_2012.columns = ['IdSensore','Data','Valore']
df_2012.head()

   IdSensore                Data  Valore
0      10571 2012-12-31 23:50:00    65.0
1      10574 2012-12-31 23:50:00     0.0
2      10575 2012-12-31 23:50:00     0.0
3      11007 2012-12-31 23:50:00    -1.4
4      11008 2012-12-31 23:50:00    68.0

In [6]:
df_2012.to_pickle('df_meteo_2012.h5')

In [3]:
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="woneli",
                                  password="woneli",
                                  host="188.165.216.169",
                                  port="5432",
                                  database="postgres01")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT * FROM stations_weather;")
    risulato = cursor.fetchall()
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)

PostgreSQL server information
{'user': 'woneli', 'channel_binding': 'prefer', 'dbname': 'postgres01', 'host': '188.165.216.169', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  None

In [4]:
len(risulato)

1262

In [5]:
stazioni = pd.DataFrame(risulato)

In [6]:
stazioni.columns=['idsensore','tipologia','unit_dimisura','idstazione','nomestazione','quota','provincia','storico',
                  'datastart','datastop','cgb_nord','cgb_est','lat','lng','coordinate']
stazioni.head()

,idsensore,tipologia,unit_dimisura,idstazione,nomestazione,quota,provincia,storico,datastart,datastop,cgb_nord,cgb_est,lat,lng,coordinate
0,101,Altezza Neve,cm,52,Grosio Diga Fusino,1220,SO,N,2001-12-01,9999-12-31 00:00:00,5131141,595908,46.327057,10.24597,"(46.327057, 10.24597)"
1,10373,Precipitazione,mm,687,Ferno v.Di Dio,215,VA,N,2007-08-13,9999-12-31 00:00:00,5051773,481053,45.619244,8.75697,"(45.619244, 8.75697)"
2,10376,Precipitazione,mm,706,Lecco v.Sora,272,LC,N,2008-07-22,9999-12-31 00:00:00,5078987,531045,45.863750,9.39995,"(45.86375, 9.39995)"
3,10377,Temperatura,°C,706,Lecco v.Sora,272,LC,N,2008-07-22,9999-12-31 00:00:00,5078987,531045,45.863750,9.39995,"(45.86375, 9.39995)"
4,10381,Umidità Relativa,%,706,Lecco v.Sora,272,LC,N,2008-07-22,9999-12-31 00:00:00,5078987,531045,45.863750,9.39995,"(45.86375, 9.39995)"

In [7]:
stazioni.to_pickle('stazioni.h5')
stazioni.to_csv('stazioni_meteo.csv')