In [1]:
from pickle_functions import *
from integrity_functions import *
from postgres_functions import *
from update_functions import *

In [2]:
apiDf = fromJsonApiToDf('2022-05-29T12:00:00')
apiDf = getSortedJsonDf(apiDf)
apiDf.head(5)
#apiDf.shape # (1110141, 5)

   idsensore    dataora  valore stato  idoperatore
0       5504 2022-01-01    49.7    VA            1
1       5507 2022-01-01    60.2    VA            1
2       5517 2022-01-01    45.0    VA            1
3       5520 2022-01-01    31.4    VA            1
4       5531 2022-01-01    48.1    VA            1

In [3]:
apiDf.shape # (1110141, 5) #(1099151, 5)

(1099151, 5)

In [21]:
dbDf = getSortedDbTable(2022)
dbDf.head(5)
#dbDf.shape # (1080809, 5)
            # (1098712, 6)

   idsensore             dataora  valore stato  idoperatore
0       5504 2022-01-01 01:00:00    67.1    VA            1
1       5504 2022-01-01 01:00:00    48.0    VA            1
2       5507 2022-01-01 01:00:00    56.0    VA            1
3       5507 2022-01-01 01:00:00    61.9    VA            1
4       5517 2022-01-01 01:00:00    37.4    VA            1

In [22]:
apiDf["keep"] = apiDf["dataora"]<= pd.Timestamp("2022-05-29 12:00:00")

apiDf = apiDf[apiDf["keep"] == True]
apiDf.shape # # (1099151, 6)

(1099151, 6)

In [27]:
df = pd.merge(apiDf,dbDf, on=['idsensore','dataora', 'valore', 'stato'], how='left', indicator='Exist')
df['update'] = np.where(df.Exist == 'both', False, True)
df.head(10)

   idsensore    dataora  valore stato  idoperatore  keep      Exist  update
0       5504 2022-01-01    49.7    VA            1  True  left_only   False
1       5507 2022-01-01    60.2    VA            1  True  left_only   False
2       5517 2022-01-01    45.0    VA            1  True  left_only   False
3       5520 2022-01-01    31.4    VA            1  True  left_only   False
4       5531 2022-01-01    48.1    VA            1  True  left_only   False
5       5532 2022-01-01    63.4    VA            1  True  left_only   False
6       5534 2022-01-01    38.9    VA            1  True  left_only   False
7       5542 2022-01-01    33.2    VA            1  True  left_only   False
8       5545 2022-01-01    36.5    VA            1  True  left_only   False
9       5547 2022-01-01    60.8    VA            1  True  left_only   False

In [25]:
df = df[df["update"]==True]
df.shape # (568198, 11) # (568637, 9)

(568637, 9)

In [26]:
from datetime import date

countDifferences(df).to_csv("../dati_sensori_1968_2020/test_update/test_{!s}.csv".format(str(date.today())))